.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  max-width: 500px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.start_image {
  margin: 0 auto;
  width: 80%;
}


.start_title {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px #eee;
  text-transform: uppercase;
}

.start_button {
  background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 51%, #5ee7df 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 30px;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: gradient 3s infinite;
}

.add_player_button {
  margin: 15px 45px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


